<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @message.user %>
</p>

<%= link_to 'Destroy', @message, method: :delete, data: { confirm: 'Are you sure?' } if @message.can_be_deleted_by?(current_user)%>
<%= link_to 'Back', messages_path %>
