<p>
  <strong>User:</strong>
  <%= @user %>
</p>

<%= render partial: 'users/show/follow_actions', locals: { user: @user, is_followed: @is_followed } %>

<%= render partial: 'shared/follows_links', locals: {user: @user}%>
<%= link_to 'Messages', user_messages_path(@user) %>
<%= link_to 'Back', users_path %>
